<!-- <p>Extended sidebar works!</p> -->
<mat-nav-list dense>
  <mat-icon class="mat-18 expand-sidebar">settings_ethernet</mat-icon>
<div class="sidebar-links">
  <mat-list-item>
    <a mat-list-item href="">
      <div class="content">
        <mat-icon class="mat-18">home</mat-icon>
        <p>Home</p>
        <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
      </div>
    </a>
  </mat-list-item>
  <mat-list-item>
      <a mat-list-item href="">
        <div class="content">
          <mat-icon class="mat-18">live_help</mat-icon>
          <p>Manage FAQ</p>
          <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
        </div>
      </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-list-item href="">
      <div class="content">
        <mat-icon class="mat-18">group_add</mat-icon>
        <p>Maker</p>
        <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
      </div>
    </a>
  </mat-list-item>
  <mat-list-item>
      <a mat-list-item href="">
        <div class="content">
          <mat-icon class="mat-18">verified_user</mat-icon>
          <p>Checker</p>
          <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
        </div>
      </a>
  </mat-list-item>
  <mat-list-item>
      <a mat-list-item href="">
        <div class="content">
          <mat-icon class="mat-18">account_balance</mat-icon>
          <p>FI/Bank</p>
          <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
        </div>
      </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-list-item href="">
      <div class="content">
        <mat-icon class="mat-18">settings</mat-icon>
        <p>Settings</p>
        <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
      </div>
    </a>
  </mat-list-item>
</div>
<div class="about">
  <mat-list-item>
    <a mat-list-item href="">
      <div class="content">
        <mat-icon class="mat-18">account_box</mat-icon>
        <p>User Role: Admin</p>
      </div>
    </a>
  </mat-list-item>
</div>
</mat-nav-list>
