<app-header></app-header>
<mat-sidenav-container
  class="sidebar-container"
  (backdropClick)="close()"
>
  <mat-sidenav #sidebar closed>
    <!-- <p><button mat-button (click)="sidebar.close()">Close</button></p> -->
    <app-sidebar-ext></app-sidebar-ext>
  </mat-sidenav>

  <!-- Body -->
  <mat-sidenav-content>
    <mat-icon (click)="sidebar.open()" class="mat-18 expand-sidebar">settings_ethernet</mat-icon>
    <!-- <app-home></app-home> -->
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main">
      <app-home></app-home>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
