.New {
  width: 56;
  height: 29;
  font-size: 14px;
  font-weight: 500;
  color: orange;
  border: 1px solid var(--solv-orange);
  border-radius: 4px;
}

.no-data-info {
  text-align: center;
}

.no-data-info p {
  font-weight: 600;
  font-size: 35px;
  line-height: 52.5px;
  color: var(--solv-blue);
}
