.card {
  width: 331px;
  /* height: 274px; */
  height: 274px;
  overflow: hidden;
  /* background-color: transparent; */
  /* opacity: 0.1; */
}
/*
.img-container {
  position: relative;

} */
.container {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 8px 5px;
  border: 5px rgb(153, 51, 51);
  color: red !important;
  opacity: 1;
}


.content {
  width: 331px;
  height: 224px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
}

.header {
  font-size: 30px;
  font-weight: 600;
  line-height: 35.16px;
  color: var(--solv-blue);
  text-transform: capitalize;
}

.text {
  color: var(--solv-grey);
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}

button {
  margin: 0 auto;
  width: 200px;
  height: 48px;
  border: none;
  border-radius: 10px;
  padding: 16px;
  color: white;
  background-color: var(--solv-blue);
}
