
<div class="home-container">
  <div class="button-container">
    <button mat-raised-button (click)="addMasterAnchor()">Create Master Anchor</button>
    <button mat-raised-button (click)="addProgram()">Create New Program</button>
  </div>

  <div *ngIf="statuses">
    <div class="top-section">
      <p class="heading">{{userTier}} Overview</p>
      <div class ="cards">
        <div *ngFor= "let status of statusObj">
          <div class="card">
            <div class="icon"> <img src=" {{status.icon}}" alt =""/></div>
            <div class="detail">
              <div class="count"><h1>{{status.count}}</h1></div>
              <div class="text"><h2>{{status.name}}</h2> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="heading">SOLV Maker Admin Dashboard</p>
    <div class="header">
      <div class="tabs">
        <a [routerLink]="['dealer']" routerLinkActive="active" ><p class="tab">Dealer</p> </a>
        <a [routerLink]="'anchor'" routerLinkActive="active"><p class="tab" >anchor</p> </a>
        <a routerLink="master-anchor" routerLinkActive="active"><p class="tab" >master anchor</p> </a>
        <a routerLink="program" routerLinkActive="active"><p class="tab" >Program</p> </a>
      </div>
      <div class="controls">
        <div class="search">
          <mat-icon class="mat-18">search</mat-icon>
          <input #input (keyup)="triggerSearch($event)" placeholder="Search">
        </div>
        <div class="filter">
          Sort by:
          <select (change)="triggerFilter($event)">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
          </select>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>


