<!-- <p>maker-sidebar works!</p> -->
<mat-nav-list dense (mouseenter)="showDetails()" (mouseleave)="hideDetails()" [ngClass]="{'extend': ext_sidebar}">
  <!-- <mat-icon class="mat-18 expand-sidebar">settings_ethernet</mat-icon> -->
<div class="sidebar-links">
  <mat-list-item>
    <div class="menu-item">
      <img [src]="homeIcon" alt="home-icon">
      <div>
        <span *ngIf="ext_sidebar" >Home</span>
        <span *ngIf="ext_sidebar"> <img [src]="arrowIcon" alt="left-arrow-icon"></span>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item (click)="openFaqPage()" ><!-- [ngClass]="{'active-link':faqIsActive}" -->
    <div class="menu-item">
      <img [src]="faqIcon" alt="faq-icon">
      <div>
        <span *ngIf="ext_sidebar" >FAQ</span>
        <span *ngIf="ext_sidebar"> <img [src]="arrowIcon" alt="left-arrow-icon"></span>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item routerLink="dealer" #dealerLink = 'routerLinkActive' routerLinkActive="active-link">
    <div class="menu-item">
      <img [src]="dealerLink.isActive ? activeDealerIcon : dealerIcon" alt="checker-icon" >
      <div>
        <span *ngIf="ext_sidebar" >Dealer</span>
        <span *ngIf="ext_sidebar"> <img [src]="arrowIcon" alt="left-arrow-icon"></span>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item [routerLink]="['anchor']" #anchorLink="routerLinkActive" routerLinkActive="active-link">
    <div class="menu-item">
      <img [src]="anchorLink.isActive ? activeAnchorIcon  : anchorIcon   " alt="maker-icon">
      <div>
        <span *ngIf="ext_sidebar" >Anchor</span>
        <span *ngIf="ext_sidebar"> <img [src]="arrowIcon" alt="left-arrow-icon"></span>
      </div>
    </div>
  </mat-list-item>

  <mat-list-item [routerLink]="'master-anchor'" #MasterAnchorLink="routerLinkActive" routerLinkActive="active-link">
    <div class="menu-item"   >
      <img [src]="MasterAnchorLink.isActive ? activeMasteranchorIcon : masteranchorIcon" alt="bank-icon" >
    <div>
      <span *ngIf="ext_sidebar" >Master Anchor</span>
      <span *ngIf="ext_sidebar"> <img [src]="arrowIcon" alt="left-arrow-icon" ></span>
    </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="menu-item">
      <img [src]="settingsIcon" alt="settings-icon">
      <div>
        <span *ngIf="ext_sidebar" >Setting</span>
        <span *ngIf="ext_sidebar"> <img [src]="arrowIcon" alt="left-arrow-icon"></span>
      </div>
    </div>
  </mat-list-item>
</div>
<div class="about" (click)="testPopUp()">
  <mat-list-item>
    <div class="menu-item">
      <img [src]="userIcon" width="27px" alt="home-icon">
      <div>
        <span *ngIf="ext_sidebar" >Super Admin</span>
      </div>
    </div>

  </mat-list-item>
</div>
</mat-nav-list>
