.card {
  width: 570px;
  max-width: 50vw;
  height: 799px;

}

.content {
  margin: 80px 30px;
  padding:5px;
}

.content p {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: var(--solv-blue);
  margin-bottom: 5px 5px 20px;
}

form{
  margin: 50px 5px;
  font-weight: 400;
  font-size: 14px;
}

mat-form-field {
  margin: 10px 0;

}

.centered {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  margin-block:60px;
  display: flex;
  column-gap: 20px;
  flex-direction:row;
}
.buttons button:nth-child(1) {
  color: var(--solv-blue);
  font-weight: 700;
  text-align: center;
  /* width: 200px;
  height: 48px; */
  padding-inline: 30px;
  border-radius: 10px;
  border:1px solid var(--solv-blue);
  background: white;
}
.buttons button:nth-child(2) {
  background: var(--solv-blue);
  font-weight: 700;
  text-align: center;
  /* width: 200px;
  height: 48px; */
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
  border:1px solid var(--solv-blue);
  color: white;
}

@media screen and (max-width:1190px) {

}
