<!-- <p>new-user-dialog works!</p> -->
<div class="card">
  <div class="content">
    <p>Edit User</p>

    <form action="" [formGroup]="editUserForm">
      <mat-label>First Name</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="editFname">
      </mat-form-field>

      <mat-label>Last Name</mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="editLname">
      </mat-form-field>

      <mat-label>Email ID</mat-label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="pat@example.com" formControlName="editMail" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <mat-label>&nbsp;</mat-label>
      <mat-form-field floatLabel="always" appearance="outline">
        <input matInput type="number" class="example-right-align" formControlName="editPhone" placeholder="Mobile Number">
        <span matTextPrefix>+233&nbsp;|&nbsp;</span>
      </mat-form-field>

      <div class="centered">
        <mat-radio-group class="center-radio-group" formControlName="editRole">
          <mat-radio-button value="maker" [checked]="editUserForm.get('editRole')?.value === 'maker'">Maker</mat-radio-button>
          <mat-radio-button value="always" [checked]="editUserForm.get('editRole')?.value === 'checker'">Checker</mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="buttons centered">
        <button (click)="openLeavePagePopup()">Cancel</button>
        <!-- <button (click)="openSuccessPopup()">Create User</button> -->
        <button (click)="updateUser()">Update User</button>
      </div>
    </form>
  </div>
</div>
