<!-- <p>delete-user-popup works!</p> -->
<div class="card">
  <div class="content">
    <div class="header">
      <p class="heading">Delete User</p>
      <p class="sub-heading">Are you sure you want to delete the user?</p>
    </div>

    <table>
      <tr>
        <td>User Name:</td>
        <td>{{delUserData.username}}</td>
      </tr>
      <tr>
        <td>User Role:</td>
        <td style="text-transform: capitalize;">{{delUserData.role}}</td>
      </tr><tr>
        <td>Email ID:</td>
        <td>{{delUserData.mail}}</td>
      </tr><tr>
        <td>Mobile:</td>
        <td>{{delUserData.phone}}</td>
      </tr>
    </table>

    <div class="buttons">
      <button (click)="openLeavePagePopup()">Back </button>
      <button (click)="openDeleteSuccessPopup()">Delete</button>
    </div>
  </div>
</div>
