.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100vh;
  margin-bottom: 200px;
  overflow-y: scroll; */
  /* z-index: 100; */
  /* overflow: scroll; */
}

.button-container{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.button-container button {
  background-color: var(--solv-blue);
  color: white;
  height: 50px;
  width: 180px;
  float: right;
  font-size: 16px;
}

button:nth-child(1) {
  margin-right: 20px;
}

.header {
  /* border: 2px so lid black; */
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.header p {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.05em;
}

.header mat-form-field {
  width: 250px;
  text-decoration: none;
  border: 0.5px solid var(--solv-blue);
}

.controls {
  display: flex;
  flex-direction: row;
}

.controls input, .controls select {
  border: none;
  background-color: white;
  height: 100%;
}

.search{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  height: 100%; width: 250px;
  padding: 8px; margin-left: 15px;
  border: 1px solid var(--solv-blue);
}

.search input {
  width: 90%;
}

.filter {
  display: flex;
  justify-content: space-between;
  height: 100%; width: 180px;
  padding: 8px; margin-left: 20px;
  border: 1px solid var(--solv-blue);
}

.search select {
  width: 80%;
}
.controls input::placeholder {
  text-align: right;
}

.tabs {
  margin-block-start: 20px;
}

.tab {
  display: inline-block;
  margin-right: 50px;
  text-transform: uppercase;
}

.tab a:active {
  text-decoration:underline;
}
.mat-elevation-z8 {
 width: 100%;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 14%;
}
