<div class="card">
  <div class="content">
    <p>Create New FI</p>

    <form action="">
    <div class="main-group">
      <div class="group-one">
        <mat-form-field>
          <mat-label>FI Type </mat-label>
          <mat-select>
            <mat-option value="Bank">Bank"</mat-option>
            <mat-option value="Non Bank Financial Institution">Non Bank Financial Institution"</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label>FI Name</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required>
        </mat-form-field>

        <mat-label>FI Short Name</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required>
        </mat-form-field>

        <mat-label>FI Code</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required>
        </mat-form-field>
      </div>

      <div class="group-two">
        <div class="logo">
          <div>
            <label>Logo of FI</label>
            <input  type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
          </div>
          <p>Please upload the document of .jpg or .png format and Maximum size of 2MB</p>
        </div>

        <mat-label>Bank Account Number *</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required>
        </mat-form-field>

        <mat-label>Bank Name</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required>
        </mat-form-field>


        <mat-label>Swift Code</mat-label>
        <mat-form-field appearance="outline">
          <input matInput required>
        </mat-form-field>
      </div>
    </div>

      <div class="buttons">
        <button (click)="openLeavePagePopup()">Cancel</button>
        <button (click) ="openSuccessPopup()">Create User</button>
      </div>
    </form>
  </div>
</div>
