<div class="card">
  <mat-icon class="mat-18 close">close</mat-icon>
  <div class="main">
    <div class="heading">
      <div class="headers">
        <p class="header" [ngClass]="{'active':isAnchorTab}" (click)="switchtoAnchorTab()">anchor</p>
        <p class="header" [ngClass]="{'active':isDealerTab}" (click)="switchtoDealerTab()">dealer</p>
      </div>

      <div class="buttons">
        <button> Add FAQs</button>
        <div class="filter">
          <select (change)="onCategoryChange($event)">
            <option value="">Manage FAQs</option>
            <option value="general">General</option>
            <option value="registration">Registration/Login</option>
            <option value="invoices">Invoices</option>
          </select>
        </div>
      </div>
    </div>

    <div class="content">
      <span class="category">{{faqCategory}}</span>
      <div class="container">
        <ng-template [ngIf]="isAnchorTab">
          <div class="q_and_a" *ngFor="let faqItem of queriedAnchorFAQs; index as i">
            <div class="text">
              <p class="question">{{faqItem.question}}</p>
              <p class="answer">
                {{faqItem.answer}}
              </p>
            </div>
            <div class="icons">
              <img [src]="editIcon" alt="edit">
              <img [src]="deleteIcon" alt="edit">
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="isDealerTab">
          <div class="q_and_a" *ngFor="let faqItem of queriedDealerFAQs; index as i">
            <div class="text">
              <p class="question">{{faqItem.question}}</p>
              <p class="answer">
                {{faqItem.answer}}
              </p>
            </div>
            <div class="icons">
              <img [src]="editIcon" alt="edit">
              <img [src]="deleteIcon" alt="edit">
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <mat-icon class="mat-18 close">close</mat-icon>
  <div class="main">
    <mat-tab-group>
      <mat-tab label="ANCHOR">
        <div class="content">
          <span class="category">{{faqCategory}}</span>
          <div class="container">
            <div class="q_and_a" *ngFor="let faqItem of queriedAnchorFAQs; index as i">
              <div class="text">
                <p class="question">{{faqItem.question}}</p>
                <p class="answer">
                  {{faqItem.answer}}
                </p>
              </div>
              <div class="icons">
                <img [src]="editIcon" alt="edit">
                <img [src]="deleteIcon" alt="edit">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="DEALER">
         <div class="content">
          <span class="category">{{faqCategory}}</span>
          <div class="container">
            <div class="q_and_a" *ngFor="let faqItem of queriedDealerFAQs; index as i">
              <div class="text">
                <p class="question">{{faqItem.question}}</p>
                <p class="answer">
                  {{faqItem.answer}}
                </p>
              </div>
              <div class="icons">
                <img [src]="editIcon" alt="edit">
                <img [src]="deleteIcon" alt="edit">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div> -->
