.card {
  max-width: 907px;
  max-height: 704px;
  padding: 0 40px;
}

.main {
  width: 822px;
  height: 511px;
  /* border: 2px solid black; */
  margin: 80px auto 50px;
  padding: 5px;
}

.heading {
  height: 50px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
}

.headers, .buttons {
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}

.header {
  text-transform: uppercase;
  margin-right: 20px;
  padding-top: 15px 5px;
  padding-inline: 5px;
}

.active {
  color: var(--solv-blue);
  /* text-decoration: underline; */
  font-weight: bold;
}

p.active   {
  border-bottom: 5px solid var(--solv-blue);
  border-radius: 5px;
  padding-inline: 7px;
}

.buttons button, .buttons select {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  width: 156px;
  border-radius: 6px;
  height: 40px;
  margin-left: 10px;
  border: none;
  color: #fff;
  background-color: var(--solv-blue);
  padding: 0 10px;
}

option {
  /* color:  red; */
  color: var(--solv-blue);
  background-color: white;
  text-align: left;
}

/* option:first-child {
  display: none;
} */

.content {
  margin-top: 10px;
  /* border: 1px solid rgb(255, 115, 0); */
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 10px 60px 0px rgba(226,236,249,0.49);
-webkit-box-shadow: 0px 10px 60px 0px rgba(226,236,249,0.49);
-moz-box-shadow: 0px 10px 60px 0px rgba(226,236,249,0.49);
}


span.category {
  display: inline-block;
  height: 30px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
}

.container{
  /* border: 1px solid blue; */
  /* color: red; */
  font-size: 18px;
  width: 773px;
  margin: 0 auto;
  padding: 15px 10px;
  height: 390px;
  overflow: scroll;
}


.q_and_a {
  height: 110px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 60px 0px rgba(226,236,249,0.59);
-webkit-box-shadow: 0px 10px 60px 0px rgba(226,236,249,0.59);
-moz-box-shadow: 0px 10px 60px 0px rgba(226,236,249,0.59);
}

.text {
  width: 650px ;
  /* border: 2px solid yellow; */
}

.question{
  color: var(--solv-blue);
}

.icons {
  width: 80px ;
  height: 50px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons img {
  display: inline;
}

.container {
  overflow: auto;
}
