mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  box-shadow: 4px 1px 4px 0px rgba(0,0,0,0.35);
  height: 100vh;
  overflow-y: hidden;
  /* border: 2px solid orange; */
}

.extend {
  width: 300px;
}

.menu-item {
  display: flex;
  flex-direction: row;
}

.menu-item div {
  color: var(--solv-blue);
  font-weight: 500;
  font-size: 14px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-height: 600px) {
  mat-nav-list {
    padding-block: 10px 15px;
    height: 90vh;
  }

  .sidebar-links mat-list-item {
    margin-block-end: 10px;
  }
}

/* Medium screens (e.g., tablets) */
@media (min-height: 601px) and (max-height: 900px) {
  mat-nav-list {
    padding-block: 15px 25px;
    height: 92.5vh;
  }

  .sidebar-links mat-list-item {
    margin-block-end: 20px;
  }
}

/* Large screens (e.g., desktops) */
@media (min-height: 901px) {
  mat-nav-list {
    padding-block: 20px 30px;
    height: 93.5vh;
  }

  .sidebar-links mat-list-item {
    margin-block-end: 20px;
  }
}
